<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.functioning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Billing"
            android:label="@string/title_activity_billing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Careers"
            android:label="@string/title_activity_careers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Patient"
            android:label="@string/title_activity_patient"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Medical"
            android:label="@string/title_activity_medical"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Doctor"
            android:label="@string/title_activity_doctor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Neurosci"
            android:label="@string/title_activity_neurosci"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cancer2"
            android:label="@string/title_activity_cancer2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Orthopedic2"
            android:label="@string/title_activity_orthopedic2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cardiac2"
            android:label="@string/title_activity_cardiac2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>